@page
@model ApiServerLibraryTest.Pages.oauth.AuthorizeModel
@{
}

<h1>Authorize</h1>

@if (Model.ClientIdFound)
{
    if(!User.Identity!.IsAuthenticated)
    {
        <p>Log In To Proceed</p>
        <form method="POST" asp-page-handler="GoToLogIn">
            <button type="submit">Log In</button>
            <input type="hidden" name="clientId" value="@Model.ClientId" />
        </form>
    }
} else {
    <p>@Model.ErrorMessage</p>
}
